/* main-game */

.background {
  background: rgb(73, 35, 160);
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.actor {
  position: absolute;
}
.player {
  background: rgb(143, 143, 143);
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

/* mini-game: block-jump */

* {
  padding: 0;
  margin: 0;
}

#block_jump_game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#block_jump_game_container {
  top: 400px;
  position: fixed;
}

#character {
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 500ms;
}

.animate-block {
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: none;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
